/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 header{
    max-width: 1248px;
    margin: 0 auto;
    padding-top: 50px;
 }
 .header{
    background-color: lightpink;
 }


 nav{
    display: flex;
    align-items: center;
 }

 .navbar-text {
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 27px;
 }



body{
    background-image: url("https://i.pinimg.com/564x/44/a0/f4/44a0f4b617d3b6b73cb6188f37970b4c.jpg");
    background-size: 100%;
  }